alert("좋아요 설정됐쩡");
var like_count = parseInt($('.like-count').text());
console.log(like_count);
if(<%= @like.frozen? %>) {
    like_count = like_count - 1
    $('.like').html(`좋아요(<span class='like-count'>${like_count}</span>)`).addClass("btn-primary").removeClass("btn-warning");
} else {
    like_count = like_count + 1
    $('.like').html(`좋아요 취소(<span class='like-count'>${like_count}</span>)`).addClass("btn-warning").removeClass("btn-primary");
}
console.log(like-count);
